@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-family: monospace;
    font-size: 48px;
    background-color: #131313;
    color: #1efd00;
    margin-bottom: 25px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-wrap: wrap;
    /* background: #00ffbf; */
    background: #131313;
}

/* section::before
{
    content: '';
    position: absolute;
    bottom: 10%;
    right: 20%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: radial-gradient(ellipse farthest-side at 76% 77%, rgba(245, 228, 212, 0.25) 4%, rgba(255, 255, 255, 0) calc(4% + 1px)), radial-gradient(circle at 76% 40%, #fef6ec 4%, rgba(255, 255, 255, 0) 4.18%), linear-gradient(135deg, #ff0000 0%, #000036 100%), radial-gradient(ellipse at 28% 0%, #ffcfac 0%, rgba(98, 149, 144, 0.5) 100%), linear-gradient(180deg, #cd6e8a 0%, #f5eab0 69%, #d6c8a2 70%, #a2758d 100%); background-blend-mode: normal, normal, screen, overlay, normal;
    animation: animate 5s ease-in-out infinite;
    animation-delay: -2.5s;
}

section::after
{
    content: '';
    position: absolute;
    top: 10%;
    left: 20%;
    width: 100px;
    height: 100px;
    border-radius: 10%;
    background: radial-gradient(ellipse farthest-side at 76% 77%, rgba(245, 228, 212, 0.25) 4%, rgba(255, 255, 255, 0) calc(4% + 1px)), radial-gradient(circle at 76% 40%, #fef6ec 4%, rgba(255, 255, 255, 0) 4.18%), linear-gradient(135deg, #ff0000 0%, #000036 100%), radial-gradient(ellipse at 28% 0%, #ffcfac 0%, rgba(98, 149, 144, 0.5) 100%), linear-gradient(180deg, #cd6e8a 0%, #f5eab0 69%, #d6c8a2 70%, #a2758d 100%); background-blend-mode: normal, normal, screen, overlay, normal;
    animation: animate 5s ease-in-out infinite;
    animation-delay: -2.5s;
}

@keyframes animate
{
    0%
    {
        transform: translateY(20px);
    }

    50%
    {
        transform: translateY(-20px);
    }
} */

.container
{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.container .card
{
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(255,255,255,0.05);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.container .card .content
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.6;
    transition: 0.5s;
}


.container .card:hover .content
{
    opacity: 1;
    transform: translateY(-20px);
}

.container .card .imgbx 
{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border-radius: 5px solid rgba(0,0,0,0.25);
}

.container .card .content .imgbx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .card .content .contentbx h3
{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}

.container .card .content .contentbx h3 span
{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}

.container .card .sci
{
    position: absolute;
    bottom: 50px;
    display: flex;
}

.container .card .sci li 
{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.1s *var(--i));
}

.container .card:hover .sci li 
{
    transform: translateY(0px);
    opacity: 1;
}

.container .card .sci li a
{
    color: #fff;
    font-size: 24px;
}

.container .card .sci li a:hover
{
    color: #555;
}
