@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #141718;
  font-family: sans-serif;
  font-weight: 500;
}

.inter-heading {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}