@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #000300;
}

.profile_pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border-radius: 5px solid rgba(0,0,0,0.25);
}