@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #000300;
}

.profile_pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border-radius: 5px solid rgba(0,0,0,0.25);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(300px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(1000px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}